<div class="login_container">
    <div class="login-modal">
        <div class="login_top_logo">
            <a href="">
                <img src="/assets/images/menu/ssbrlogo.svg" alt="" srcset="">
            </a>
        </div>
        <div class="login-header">
            <h2>Log in</h2>
            <button class="close-btn"><a href="">×</a></button>
        </div>

        <div class="login-body">
            <form [formGroup]="loginForm" (ngSubmit)="LoginSumbit()">
                <input type="email" placeholder="Email" formControlName="email" required />
                <div *ngIf="email?.touched && email?.invalid" class="error-message">
                    <small *ngIf="email?.hasError('required')">Email is required.</small>
                    <small *ngIf="email?.hasError('email')">Please enter a valid email address.</small>
                </div>
                <div class="password-container">
                    <input type="password" placeholder="Password" formControlName="password" required
                        [type]="showPassword ? 'text' : 'password'" />
                    <span class="toggle-password" (click)="togglePasswordVisibility()">
                        <img *ngIf="showPassword" src="https://cdn-icons-png.flaticon.com/512/565/565655.png"
                            alt="Hide Password" />
                        <img *ngIf="!showPassword" src="https://cdn-icons-png.flaticon.com/512/159/159604.png"
                            alt="Show Password" />
                    </span>
                </div>
                <div *ngIf="password?.touched && password?.invalid" class="error-message">
                    <small *ngIf="password?.hasError('required')">Password is required.</small>
                    <small *ngIf="password?.hasError('minlength')">Password must be at least 6 characters.</small>
                </div>

                <div class="form-footer">
                    <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Login</button>
                </div>
            </form>
        </div>

    </div>
</div>