<form (ngSubmit)="onSearchSubmit()">
    <div class="search-box">
        <div class="search-item">
            <input type="search" [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" (input)="onSearch()"
                placeholder="Search..." id="searchInput">
            <mat-icon>search</mat-icon>
        </div>

        @if (filteredResults.length > 0) {
        <div class="dropdown">
            @for (item of filteredResults; track $index) {
            <div class="dropdown-item" (click)="selectItem(item)">
                {{ item }}
            </div>
            } @empty {
            No
            }
        </div>
        }

    </div>
</form>